*,
*:after,
*:before {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    position: relative;
    height: 100%;
    /*  Background origin is here:  http://lea.verou.me/css3patterns/#cicada-stripes  */
    background-color: #888;
    background-image:   -webkit-linear-gradient(left, rgba(255,255,255,.07) 50%, transparent 50%),
                        -webkit-linear-gradient(left, rgba(255,255,255,.13) 50%, transparent 50%),
                        -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.17) 50%),
                        -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.19) 50%);
    background-image:   -o-linear-gradient(left, rgba(255,255,255,.07) 50%, transparent 50%),
                        -o-linear-gradient(left, rgba(255,255,255,.13) 50%, transparent 50%),
                        -o-linear-gradient(left, transparent 50%, rgba(255,255,255,.17) 50%),
                        -o-linear-gradient(left, transparent 50%, rgba(255,255,255,.19) 50%);
    background-image:   linear-gradient(to right, rgba(255,255,255,.07) 50%, transparent 50%),
                        linear-gradient(to right, rgba(255,255,255,.13) 50%, transparent 50%),
                        linear-gradient(to right, transparent 50%, rgba(255,255,255,.17) 50%),
                        linear-gradient(to right, transparent 50%, rgba(255,255,255,.19) 50%);;
    background-size: 13px, 29px, 37px, 53px;
}
header {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    background-color: #346;
    box-shadow: 0 3px 3px #8ac;
    z-index: 10;
}
.page__header {
    text-align: center;
    color: white;
    font-size: 62px;
    text-shadow: 2px 3px 0 black;
    margin: 20px auto;
}
ul {
    text-align: center;
}
.menu {
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    margin: 10px 30px 20px;
}
.menu__a {
    height: 100%;
    padding: 10px 20px;
    line-height: 25px;
    font-size: 25px;
    color: black;
    background: linear-gradient(to bottom, #ccc, #666);
    border-radius: 10px;
    text-decoration: none;
}
.menu__a:hover {
    text-decoration: underline;
}
.menu__a:active {
    background: linear-gradient(to bottom, #666, #ccc);
}

.lissajous,
.multielement,
.singleelement {
    text-align: center;
    height: 100%;
    border: 1px solid transparent;
    background-clip: border-box;
}
.lissajous {
    background-color: rgba(134,175,211,.5);
}
.multielement {
    background-color: rgba(140,164,125,.5);
}
.singleelement {
    background-color: rgba(221,199,138,.5);
}
.lissajous__header,
.multielement__header,
.singleelement__header {
    color: black;
    text-align: center;
    font-size: 32px;
    margin-top: 13%;
    margin-bottom: 7%;
}
.lissajous__box {
    display: inline-block;
    position: relative;
    width: 142px;
    height: 142px;
    padding: 0;
    margin: 20px;
    border: 1px solid #888;
}

.lissajous__canvas {
    display: block;
    width: 140px;
    height: 140px;
}
.lissajous__p {
    line-height: 32px;
    font-size: 24px;
    text-align: center;
    margin-top: 10%;
    background: transparent;
    color: black;
}

.multielement__box,
.multielement__box--win10,
.multielement__box--six-balls,
.singleelement__box {
    display: inline-block;
    position: relative;
    width: 142px;
    height: 142px;
    padding: 0;
    margin: 20px;
    border: 1px solid #888;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.multielement__box__letter {
    display: inline-block;
    height: 100%;
    line-height: 140px;
    vertical-align: middle;
    font-size: 1.5em;
    color: transparent;
    text-shadow: none;
}
@-webkit-keyframes multielement__box__letter {
    0%  {   text-shadow: 0 0 20px #123487;    }
    10% {   text-shadow: 0 0 3px  #123487;    }
    20% {   text-shadow: 0 0 2px  #123487;    }
    30% {   text-shadow: 0 0 2px  #123487;    }
    40% {   text-shadow: 0 0 3px  #123487;    }
    50% {   text-shadow: 0 0 20px #123487;    }
    60% {   text-shadow: none;                 }
}
@keyframes multielement__box__letter {
    0%  {   text-shadow: 0 0 20px #123487;    }
    10% {   text-shadow: 0 0 3px  #123487;    }
    20% {   text-shadow: 0 0 2px  #123487;    }
    30% {   text-shadow: 0 0 2px  #123487;    }
    40% {   text-shadow: 0 0 3px  #123487;    }
    50% {   text-shadow: 0 0 20px #123487;    }
    60% {   text-shadow: none;                 }
}
.multielement__box__letter.letter1-from7 {
    animation: multielement__box__letter 2s 0.1s linear infinite;
}
.multielement__box__letter.letter2-from7 {
    animation: multielement__box__letter 2s 0.2s linear infinite;
}
.multielement__box__letter.letter3-from7 {
    animation: multielement__box__letter 2s 0.3s linear infinite;
}
.multielement__box__letter.letter4-from7 {
    animation: multielement__box__letter 2s 0.4s linear infinite;
}
.multielement__box__letter.letter5-from7 {
    animation: multielement__box__letter 2s 0.5s linear infinite;
}
.multielement__box__letter.letter6-from7 {
    animation: multielement__box__letter 2s 0.6s linear infinite;
}
.multielement__box__letter.letter7-from7 {
    animation: multielement__box__letter 2s 0.7s linear infinite;
}


/* Chrome, Safari, Opera */ 
@-webkit-keyframes multielement__box__rotor--rotate {
    0% {    width: 100px;   height: 100px;   margin: 20px;   -webkit-transform: rotate(0deg);   }
    50% {   width: 30px;    height: 30px;    margin: 60px;   -webkit-transform: rotate(180deg); }
    100% {  width: 100px;   height: 100px;   margin: 20px;   -webkit-transform: rotate(360deg); }
} 
/* Standard syntax */ 
@keyframes multielement__box__rotor--rotate {
    0% {    width: 100px;   height: 100px;   margin: 20px;   transform: rotate(0deg);   }
    50% {   width: 30px;    height: 30px;    margin: 60px;   transform: rotate(180deg); }
    100% {  width: 100px;   height: 100px;   margin: 20px;   transform: rotate(360deg); }
}
.multielement__box__rotor {
    position: absolute;
    animation: multielement__box__rotor--rotate 1s linear infinite;
}
.multielement__box__rotor > * {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 50%;
    background: white;
    box-shadow: inset 0 0 10px #00c;
}
.multielement__box--six-balls .multielement__box__rotor > * {
    width: 20px;
    height: 20px;
}
.multielement__box__rotor__dot1-from6 {
    left: 50%;
        -ms-transform: -ms-translate(-10px, -10px); /* IE 9 */
        -webkit-transform: -webkit-translate(-10px, -10px); /* Chrome, Safari, Opera */
    transform: translate(-10px, -10px);
}
.multielement__box__rotor__dot2-from6 {
    left: 93.3%;
    top: 75%;
        -ms-transform: -ms-translate(-10px, -10px); /* IE 9 */
        -webkit-transform: -webkit-translate(-10px, -10px); /* Chrome, Safari, Opera */
    transform: translate(-10px, -10px);
}
.multielement__box__rotor__dot3-from6 {
    left: 6.7%;
    top: 75%;
        -ms-transform: -ms-translate(-10px, -10px); /* IE 9 */
        -webkit-transform: -webkit-translate(-10px, -10px); /* Chrome, Safari, Opera */
    transform: translate(-10px, -10px);
}
.multielement__box__rotor__dot4-from6 {
    left: 50%;
    top: 100%;
        -ms-transform: -ms-translate(-10px, -10px); /* IE 9 */
        -webkit-transform: -webkit-translate(-10px, -10px); /* Chrome, Safari, Opera */
    transform: translate(-10px, -10px);
}
.multielement__box__rotor__dot5-from6 {
    left: 93.3%;
    top: 25%;
        -ms-transform: -ms-translate(-10px, -10px); /* IE 9 */
        -webkit-transform: -webkit-translate(-10px, -10px); /* Chrome, Safari, Opera */
    transform: translate(-10px, -10px);
}
.multielement__box__rotor__dot6-from6 {
    left: 6.7%;
    top: 25%;
        -ms-transform: -ms-translate(-10px, -10px); /* IE 9 */
        -webkit-transform: -webkit-translate(-10px, -10px); /* Chrome, Safari, Opera */
    transform: translate(-10px, -10px);
}

.multielement__box--win10 > * {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;

}
.multielement__box--win10 > *:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: calc(50% - 5px);
    top: 15px;
    background: white;
    box-shadow: inset 0 0 6px #00c;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes rotate {
    0% {    -webkit-transform: rotate(0deg);    }
    100% {  -webkit-transform: rotate(360deg);  }
} 
/* Standard syntax */ 
@keyframes rotate {
    0% {    transform: rotate(0deg);    }
    100% {  transform: rotate(360deg);  }
}

.win10__dot1-from7 {
    animation: rotate 2s 0.0s cubic-bezier(.74,.25,.25,.75) infinite;
}
.win10__dot2-from7  {
    animation: rotate 2s 0.2s cubic-bezier(.74,.25,.25,.75) infinite;
}
.win10__dot3-from7  {
    animation: rotate 2s 0.4s cubic-bezier(.74,.25,.25,.75) infinite;
}
.win10__dot4-from7  {
    animation: rotate 2s 0.6s cubic-bezier(.74,.25,.25,.75) infinite;
}
.win10__dot5-from7  {
    animation: rotate 2s 0.8s cubic-bezier(.74,.25,.25,.75) infinite;
}
.win10__dot6-from7  {
    animation: rotate 2s 1.0s cubic-bezier(.74,.25,.25,.75) infinite;
}
.win10__dot7-from7  {
    animation: rotate 2s 1.2s cubic-bezier(.74,.25,.25,.75) infinite;
}

.multielement__p,
.singleelement__p {
    line-height: 32px;
    font-size: 20px;
    text-align: center;
    margin-top: 3%;
    background: transparent;
    color: black;
}
.multielement__p__a,
.singleelement__p__a {
    display: inline-block;
    width: 142px;
    height: 35px;
    margin: 0 20px;
    background-color: rgba(255,255,255,.3);
    border-radius: 10px;
}
.singleelement__box .moon {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: inset 10px 0 white;
    animation: rotate 1.5s linear infinite;
}

.singleelement__box .classic {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: transparent;
    background-clip: padding-box;
    border: 10px solid transparent;
    border-radius: 50%;
}
.singleelement__box .classic:before,
.singleelement__box .classic:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: -10px;
    left: -10px;
    margin: 0;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.singleelement__box .classic:before {
    background-image: url("angle_gradient_left.png");
    animation: rotate 1.7s linear reverse infinite;
}
.singleelement__box .classic:after {
    background-image: url("angle_gradient_right.png");
    animation: rotate 1.2s linear normal infinite;
}


/* Chrome, Safari, Opera */ 
@-webkit-keyframes singleelement__box--pulsar {
    0% {    font-size: 100%;   -webkit-transform: rotate(0deg);   }
    50% {   font-size: 30%;    -webkit-transform: rotate(180deg); }
    100% {  font-size: 100%;   -webkit-transform: rotate(360deg); }
} 
/* Standard syntax */ 
@keyframes singleelement__box--pulsar {
    0% {    font-size: 100%;   transform: rotate(0deg);   }
    50% {   font-size: 30%;    transform: rotate(180deg); }
    100% {  font-size: 100%;   transform: rotate(360deg); }
}

.singleelement__box .pulsar {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: singleelement__box--pulsar 1s linear infinite; 
}

.singleelement__box .pulsar:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 -2.5em #fff, -2.165em 1.25em #fff, 2.165em 1.25em #fff, 0 2.5em #fff, 2.165em -1.25em #fff, -2.165em -1.25em #fff; 
}
